<div id="sticky-footer-content">  
<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
              <div class="btn-group mx-auto" role="group" aria-label="Footer Buttons">
                  <a href="https://twitter.com/{{site.twitter}}" rel="nofollow"><button type="button" class="btn btn-primary fab fa-twitter" aria-label="Twitter"></button></a>
                <a href="https://linkedin.com/{{site.linkedin}}" rel="nofollow"><button type="button" class="btn btn-primary fab fa-linkedin-in" aria-label="linkedin"></button></a>
                  <a href="https://github.com/{{site.github}}" rel="nofollow"><button type="button" class="btn btn-primary fab fa-github" aria-label="github"></button></a>
                  <a href="https://orcid.org/0000-0002-4945-5773" target="orcid.widget" rel="noopener noreferrer" style="vertical-align:top;"><button type="button" class="btn btn-primary"><img src="https://orcid.org/sites/default/files/images/orcid_16x16.png" style="width:1em;margin-right:.5em;" alt="ORCID iD icon"></button></a>
              </div>
    </div>
  </footer>
</div>