<div > <!--formerly class="post-list"-->
    {% for presentation in site.presentations reversed %}
        <ul>
            <li>
            	{% if presentation.abstract %}
            		<a href="{{ presentation.url | absolute_url }}">{{ presentation.title }}</a>.
                {% else %}
                	{{ presentation.title | append: ". " }}
                {% endif %}
                {% if presentation.hidedayindate %}
                                {{ presentation.date | date: '%B, %Y' | append: ". " }}
                {% else %}
                                {{ presentation.date | date: '%B %d, %Y' | append: ". "}}
                {% endif %}

                {% if presentation.meetingname %}
                                {{ presentation.meetingname | append: ". " }}
                {% endif %}
                            {% if presentation.place %}
                                {{ presentation.place | append: ". " }}
                {% endif %}
                {% if presentation.presenters %}
                                {{ presentation.presenters | append: "."}}
                {% endif %}
                             {% if presentation.slideurl %}
                                {% if presentation.slideurl contains 'http' %}
                                    <a style="text-decoration: none;" href="{{ presentation.slideurl }}"><i class="fas fa-images" aria-hidden="true"></i> Slides</a>
                                {% else %}
                                    <a style="text-decoration: none;" href="{{ presentation.slideurl | absolute_url }}"><i class="fas fa-images" aria-hidden="true"></i> Slides</a>
                                {% endif %}
                             {% endif %}
                             {% if presentation.handouturl %}
                                {% if presentation.handouturl contains 'http' %}
                                    <a style="text-decoration: none;" href="{{ presentation.handouturl }}"><i class="fas fa-file-invoice" aria-hidden="true"></i> Handout</a>
                                {% else %}
                                    <a style="text-decoration: none;" href="{{ presentation.handouturl | absolute_url }}"><i class="fas fa-file-invoice" aria-hidden="true"></i> Handout</a>
                                {% endif %}
                             {% endif %}
                             {% if presentation.meetingurl %}
                                <a style="text-decoration: none;" href="{{ presentation.meetingurl }}"><i class="fa fa-calendar" aria-hidden="true"></i> Event Page</a>
                             {% endif %}
            </li>
        </ul>
    {% endfor %}
</div>
