/*
	Custom CSS
*/

#header .logo {
    text-transform: none;
}

.customized {
    color: purple;
    font-size: 30px;
}

#main > .posts > article {
    text-align:left;
}


header.major {

}



header.major .presinfo {
    
}

header.major .button {
    font-style: normal;
}

.button {
    font-style: normal;
    text-transform: none;
}

header.major .presbuttons {
    font-style: normal;
    text-align: center;
}

/*
#intro {
    text-align: left;
        color: bisque;
}
*/

/*
#main > .posts {
    text-align: left;
}
*/

/* 
#header {
     text-align: left;
}
*/


/* images and figures */

img {max-width: 100%;}

.imagebox
{width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    overflow: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.half {
        width: calc(50% - 4px);
        float: left;
        margin-left: 1px;
        margin-right: 1px;
}

.third {
        width: calc(33.3% - 6px);
        float: left;
        margin-left: 1px;
        margin-right: 1px;
}



/* trying to adapt the following
img {
    display: block;
	max-width: 100%;
    width: auto;
    height: auto;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    border: 0;
    -ms-interpolation-mode: bicubic;
    image-rendering: optimizeQuality;
}
.img-circle {
	border-radius: 50%;
	border: 3px solid $white;
	height: 150px;
	width: 150px;
}
.author-photo {
    background-color: $white;
}
.image-right {
    float: right;
    margin-left: 1em;
    margin-top: 0;
}
figure {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  @include clearfix();
  img {
    margin-bottom: 10px;
    @include rounded(4px);
  }
  &.half {
    @media only screen and (min-width: 62.5em) {
      img {
        width: calc(50% - 4px);
        float: left;
        margin-left: 1px;
        margin-right: 1px;
      }
      figcaption {
        clear: left;
      }
    }
  }
  &.third {
    @media only screen and (min-width: 62.5em) {
      img {
        width: calc(33.3% - 6px);
        float: left;
        margin-left: 1px;
        margin-right: 1px;
      }
      figcaption {
        clear: left;
      }
    }
  }
}
svg:not(:root) {
  overflow: hidden; 
}

*/