---
layout: default
---

<!-- top of page image -->
    <div class="py-5 bg-image-full" style="{% if page.banner %}background-image: url('{{ page.banner | prepend: site.feature-dir | absolute_url}}'); {% else %}background-color: dimgray;{% endif %}">
    <!--<div style="height: 200px;"></div>-->
    <header class="mb-4" style="margin-top: 6em;">
  <div class="overlay"></div>
  <div class="container">
      <div class="row">
      <div class="{% if page.wide %}col-xl-10 col-lg-11{% else %}col-lg-8 col-md-10{% endif %} mx-auto">
        <div class="page-heading">
            <div class="card border-primary">
                <p class="card-header"> {% if page.hidedayindate %}
                            {{ page.date | date: '%B, %Y' }}
                        {% else %}
                            {{ page.date | date: '%B %d, %Y' }}
                        {% endif %}</p>
                  <div class="card-body">
                      <h1>{{ page.title}}{% if page.subtitle %}<small> - {{ page.subtitle }}</small>{% endif %}</h1>
                      <p class="card-text"> {% if page.meetingname %} {{ page.meetingname | append: ". "}} {% endif %} {% if page.place %} {{ page.place | append: ". " }} {% endif %} </p> {% if page.presenters %}
                    <p class="card-text">{{ page.presenters }}</p> {% endif %}
                      <!-- Buttons for slides, handout, etc. -->
                    <div class="text-center ">
                      <div class="btn-group">
                        {% if page.slideurl %}
                            {% if page.slideurl contains 'http' %}
                                <a class="btn btn-primary btn-sm" href="{{ page.slideurl }}" role="button"><i class="far fa-images" aria-hidden="true"></i> Slides</a>
                            {% else %}
                                <a class="btn btn-primary btn-sm" href="{{ page.slideurl | absolute_url }}" role="button"><i class="far fa-images" aria-hidden="true"></i> Slides</a>    
                            {% endif %}
                        {% endif %}
                        {% if page.handouturl %}
                            {% if page.handouturl contains 'http' %}
                                <a class="btn btn-primary btn-sm" href="{{ page.handouturl }}" role="button"><i class="fas fa-file-invoice" aria-hidden="true"></i> Handout</a>
                            {% else %}
                                <a class="btn btn-primary btn-sm" href="{{ page.handouturl | absolute_url }}" role="button"><i class="fas fa-file-invoice" aria-hidden="true"></i> Handout</a>
                            {% endif %}
                        {% endif %}
                        {% if page.meetingurl %}
                            <a class="btn btn-primary btn-sm" href="{{ page.meetingurl }}" role="button"><i class="far fa-calendar-alt" aria-hidden="true"></i> Event Page</a>
                        {% endif %}
                      </div>
                      </div>
                      <!-- /buttons -->
                      
                </div>
                <!--<div class="card-footer text-muted"><small><span class="float-left">Posted in: {{ page.categories }}</span><span class="float-right"> include read_time.html content=page.content </span></small></div>-->
            </div>
        </div>
      </div>
    </div>
    </div>
</header>
</div>


  <div class="container mt-5">
      <div class="row">
          <div class="{% if page.wide %}col-xl-10 col-lg-11{% else %}col-lg-8 col-md-10{% endif %} mx-auto">
              {% if page.abstract %}
                <h2>Abstract</h2>    
                <p class="lead">{{ page.abstract }}</p>
              {% endif %}
            {{ content }}
          </div>
      </div>
    </div>


  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <hr>
        <div class="clearfix">
          {% if page.previous.url %}
          <a class="btn btn-primary float-left" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}"
            data-toggle="tooltip" data-placement="top" title="{{ page.previous.title }}">&larr; Previous<span class="d-none d-md-inline">
              Presentation</span></a>
          {% endif %}
          {% if page.next.url %}
          <a class="btn btn-primary float-right" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}"
            data-toggle="tooltip" data-placement="top" title="{{ page.next.title }}">Next<span class="d-none d-md-inline">
              Presentation</span> &rarr;</a>
          {% endif %}

        </div>

      </div>
    </div>
  </div>

